src/main/resources/wsdl/arithmetics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://acme.com/arithmetics"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://acme.com/arithmetics"
        name="Arithmetics">

    <wsdl:types>
        <xsd:schema targetNamespace="http://acme.com/arithmetics"
                    elementFormDefault="qualified">
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="augend" type="xsd:int"/>
                        <xsd:element name="addend" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sum" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="AddRequestMessage">
        <wsdl:part name="parameters" element="tns:AddRequest"/>
    </wsdl:message>
    <wsdl:message name="AddResponseMessage">
        <wsdl:part name="parameters" element="tns:AddResponse"/>
    </wsdl:message>

    <wsdl:portType name="ArithmeticsPortType">
        <wsdl:operation name="Add">
            <wsdl:input message="tns:AddRequestMessage"/>
            <wsdl:output message="tns:AddResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ArithmeticsBinding" type="tns:ArithmeticsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Add">
            <soap:operation soapAction="http://acme.com/arithmetics/Add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ArithmeticsService">
        <wsdl:port name="ArithmeticsPort" binding="tns:ArithmeticsBinding">
            <soap:address location="http://localhost:8080/ws/arithmetics"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
